<div class="crm-container grpet-admin">
  <h1 crm-page-title>{{ ts('Grassroots Petition Campaigns')}}</h1>

  <div ng-show="stage=='listCampaigns'">
    <p>{{ ts('Petitions are organsied around "campaigns". Here a campaign provides a grouping for petitions that all contribute to the same aim and template content for that campaign.')}}</p>

    <table>
      <thead>
        <tr><th>Campaign</th>
          <th>Signatures</th>
          <th>Moderation</th>
          <th>Active?</th>
          <th>Actions</td></tr>
      </thead>
      <tbody>
        <tr ng-repeat="campaign in campaigns" >
          <td>{{campaign.name}}</td>
          <td>{{campaign.stats.total.toLocaleString()}}</td>
          <td>
            <span class="mod-petitions" ng-show="campaign.stats.petitionsToMod > 0" title="Unpublished petitions awaiting moderation"><i class="fa-exclamation-triangle crm-icon crm-i"></i>&nbsp;{{campaign.stats.petitionsToMod}}</span>
            <span class="mod-updates" ng-show="campaign.stats.updatesToMod > 0" title="Published admin-supplied updates need moderation checks"><i class="fa-quote-left crm-icon crm-i"></i>&nbsp;{{campaign.stats.updatesToMod}}</span>
          </td>
          <td>{{campaign.is_active ? ts('Yes') : ts('No')}}</td>
          <td>
            <a href ng-click="editCampaign(campaign)" >{{ts('Edit')}}</a> &nbsp;|&nbsp;
            <a href ng-click="viewPetitions(campaign)" >{{ts('%1 petitions', {1: campaign.stats.petitionCount || 0})}}</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a href ng-click="editCampaign()" >{{ts('Create new campaign')}}</a>
    <!-- name -->
    <!-- label -->
    <!-- is_active -->
  </div>

  <div ng-show="stage=='editCampaign' && campaignBeingEdited">
    <h2>{{ts(campaignBeingEdited.id > 0 ? 'Edit campaign' : 'Create new campaign')}}</h2>

    <form name="camp" crm-ui-id-scope ng-submit="save()">
      <div crm-ui-field="{name: 'camp.name', title: ts('Name (internal)') }">
        <input
          crm-ui-id="camp.name"
          name="name"
          ng-model="campaignBeingEdited.name"
          class="crm-form-text"
          required
          />
      </div>

      <div crm-ui-field="{name: 'camp.label', title: ts('Public name') }">
        <input
          crm-ui-id="camp.label"
          name="label"
          ng-model="campaignBeingEdited.label"
          class="crm-form-text"
          required
          />
      </div>

      <div crm-ui-field="{name: 'camp.is_active', title: ts('Active')}">
        <select
          crm-ui-select="{allowClear:false, dropdownAutoWidth: true}"
          ng-model="campaignBeingEdited.is_active"
          name="is_active"
          >
          <option value="1">{{ts('Yes')}}</option>
          <option value="0">{{ts('No')}}</option>
        </select>
      </div>

      <div crm-ui-field="{name: 'camp.description', title: ts('Description (public)') }">
        <textarea
          crm-ui-id="camp.description"
          name="description"
          ng-model="campaignBeingEdited.description"
          class="crm-form-text"
          ></textarea>
      </div>

      <div crm-ui-field="{name: 'camp.template_title', title: ts('Title template') }">
        <input
          crm-ui-id="camp.template_title"
          name="template_title"
          ng-model="campaignBeingEdited.template_title"
          class="crm-form-text"
          />
      </div>

      <div crm-ui-field="{label: 'camp.template_why', title: ts('template_why (public)') }">
        <textarea
          crm-ui-id="camp.template_why"
          name="template_why"
          ng-model="campaignBeingEdited.template_why"
          class="crm-form-text"
          ></textarea>
      </div>

      <div crm-ui-field="{label: 'camp.template_what', title: ts('template_what (public)') }">
        <textarea
          crm-ui-id="camp.template_what"
          name="template_what"
          ng-model="campaignBeingEdited.template_what"
          class="crm-form-text"
          ></textarea>
      </div>

      <div crm-ui-field="{label: 'camp.template_tweet', title: ts('Default tweet for new campaigns (public)') }">
        <textarea
          crm-ui-id="camp.template_tweet"
          name="template_tweet"
          ng-model="campaignBeingEdited.template_tweet"
          class="crm-form-text"
          ></textarea>
      </div>

      <!-- Download permissions -->
      <div class="crm-section">
        <div class="label"><label>Download signers</label></div>
        <div class="content">
          <p>You can choose to override the global settings for this campaign. Note that you can also override these again on a per-petition basis.</p>
          <div><label><input type=checkbox ng-model="camp.downloadPermissions.override" /> Override defaults</label></div>
          <div ng-show="camp.downloadPermissions.override"><label><input type=checkbox ng-model="downloadPermissions.name" /> Full names</label></div>
          <div ng-show="camp.downloadPermissions.override"><label><input type=checkbox ng-model="downloadPermissions.email" /> Full email</label></div>
        </div>
      </div>

      <!-- Mailling permissions -->
      <div crm-ui-field="{name: 'camp.allow_mailings', title: ts('Allow Mailings?')}">
        <select
          crm-ui-select="{allowClear:false, dropdownAutoWidth: true}"
          ng-model="campaignBeingEdited.allow_mailings"
          name="allow_mailings"
          style="width: 100%"
          >
          <option value="default">(defer to global defaults)</option>
          <option value="yes">Allow mailings by default for this campaign</option>
          <option value="no">Disallow mailings by default for this campaign</option>
        </select>
        <p>You can override the global settings here, or not. This permission can also be overridden on a per-petition basis.</p>
      </div>

      <div class="ng-isolate-scope crm-section">
        <div class="label"><label>Default image</label></div>
        <div class="content">
          <img style="float:right; margin-left: 1rem;max-width:17ch;height: auto;" src="{{campaignBeingEdited.template_image_url}}" />

          <label for="campaignImageFileUploadInput" >Upload new image</label><br/>
          <input id="campaignImageFileUploadInput" class="crm-form-text" type="file">
          <button ng-click="uploadNewImage($event)" class="ng-scope"
                                                    >Upload image</button>
          <br/>
          <br/>
          <label crm-ui-for="camp.template_image_alt" >Accessibility text (for those who can't see the image)</label><br/>
          <input crm-ui-id="camp.template_image_alt" name="template_image_alt" ng-model="campaignBeingEdited.template_image_alt" class="crm-form-text">
        </div>
        <div class="clear"></div><!-- yuk -->
      </div>

      <div crm-ui-field="{name: 'camp.slug', title: ts('URL path component (“slug”)') }">
        <input
          crm-ui-id="camp.slug"
          name="slug"
          ng-model="campaignBeingEdited.slug"
          class="crm-form-text"
          placeholder="decolonising-tech"
          />
        <p>This forms part of petitions' URLs. For example if you had a campaign called <em>Decolonising Tech</em> and you gave it a slug of <em>decolonising-tech</em>, and someone created a petition called <em>Ditch Master-Slave Terminology in Databases</em> then their petition would be available at <em>www.example.org/petitions/decolonising-tech/ditch-master-slave-terminology-in-databases</em>. It’s suggested that you use all lower case letters, hyphens to separate words, since this is easiest to read and type.</p>
      </div>

      <div crm-ui-accordion="{title: ts('Who to notify about new petitions')}">
        <div crm-ui-field="{name: 'camp.notify_contact_id', title: ts('Select (staff) contact to notify')}">
          <input
            crm-entityref="{entity: 'Contact', select: {allowClear:true}}"
            crm-ui-id="camp.notify_contact_id"
            name="notify_contact_id"
            ng-model="campaignBeingEdited.notify_contact_id"
            />
        </div>

        <div crm-ui-field="{name: 'camp.notifyEmail', title: ts('Email address to use for notification (if not the primary email of the contact chosen above)')}">
          <input
            type="email"
            crm-ui-id="camp.notify_email"
            name="notify_email"
            ng-model="campaignBeingEdited.notify_email"
            class="crm-form-text"
            placeholder="{{ts('e.g. projectX@example.org')}}"
            />
        </div>
      </div>

      <br/>

      <div crm-ui-accordion="{title: ts('Thank you/confirmation email overrides')}">
        <p>If provided, these email templates will be used in preference to a globally configured one for people who sign petitions for <strong>this campaign</strong>.
          However, if there is a petition-specific one, that would override this.</p>

        <div crm-ui-field="{name: 'camp.thanks_msg_template_id', title: ts('Thank you email (consent)')}">
          <select
            crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
            ng-model="campaignBeingEdited.thanks_msg_template_id"
            name="thanks_msg_template_id"
            style="width: 100%"
            >
            <option value="">(no campaign-specific message)</option>
            <option ng-repeat="g in messageTpls"
                    value="{{g.id}}">{{g.msg_title}}</option>
          </select>
          <p>This email will be sent to people who <strong>opt-in</strong>, so it can contain "marketing" content if you need it to.</p>
        </div>

        <div crm-ui-field="{name: 'camp.confirm_msg_template_id', title: ts('Thank you email (no consent)')}">
          <select
            crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
            ng-model="campaignBeingEdited.confirm_msg_template_id"
            name="confirm_msg_template_id"
            style="width: 100%"
            >
            <option value="">(no campaign-specific message)</option>
            <option ng-repeat="g in messageTpls"
                    value="{{g.id}}">{{g.msg_title}}</option>
          </select>
          <p>This email will be sent to people who <strong>do not opt-in</strong>, so it cannot contain "marketing" content but can be used to confirm signing etc.</p>
        </div>
      </div>

      <div>
        <button ng-click="campaignBeingEdited = null; stage='listCampaigns';">{{ts('Cancel')}}</button>
        &nbsp;
        <button ng-click="">{{ts('Save')}}</button>
      </div>

    </form>
  </div>

  <div ng-show="stage=='viewPetitions' && selectedCampaign" >
    <h2>Petitions in: {{selectedCampaign.name}}</h2>
    <p><a href ng-click="stage='listCampaigns'" >Back to campaigns list</a></p>
    <table>
      <thead>
        <tr>
          <th>Petiton</th>
          <th>Status</th>
          <th>Signatures</th>
          <th>Unmoderated Updates</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="petition in selectedCampaign.stats.petitions" >
          <td>{{petition.petitionTitle}}</td>
          <td>
            <span class="mod-petitions" ng-show="petition.petitionNeedsMod == 1" >
              <i class="fa-exclamation-triangle crm-icon crm-i"></i> 
             {{petition.caseStatus}}</span>
            <span ng-show="petition.petitionNeedsMod == 0" >
             {{petition.caseStatus}}</span>
          </td>
          <td>{{petition.signatures.toLocaleString()}}</td>
          <td>
            <span class="mod-updates" ng-show="petition.updatesToMod >0" >
              <i class="fa-quote-left crm-icon crm-i"></i> 
            {{petition.updatesToMod}}</span></td>
          <td><a href="{{ CRM.url('civicrm/contact/view/case', {
            reset:1,
            cid: petition.contactID,
            id: petition.caseID,
            action: 'view'
            }) }}" >Manage</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
