<div class="crm-container">
  <h1 crm-page-title>{{ ts('Edit %1', {1: inlayType.name })}}</h1>

  <form name="inlayForm" crm-ui-id-scope>

    <div crm-ui-field="{name: 'inlayForm.name', title: ts('Name'), help: hs('full_name')}">
      <input
        crm-ui-id="inlayForm.name"
        name="name"
        ng-model="inlay.name"
        class="crm-form-text"
        placeholder="{{ts('Our lovely contact form')}}"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.consentIntroHTML', title: ts('Consent intro text')}">
      <textarea
        crm-ui-id="inlayForm.consentIntroHTML"
        crm-ui-richtext
        name="consentIntroHTML"
        ng-model="inlay.config.consentIntroHTML"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.consentNoWarning', title: ts('Warning text to show if signer chooses No to updates.')}">
      <textarea
        crm-ui-id="inlayForm.consentNoWarning"
        name="consentNoWarning"
        ng-model="inlay.config.consentNoWarning"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.thanksShareAskHTML', title: ts('After signing, text inviting to share/donate')}">
      <textarea
        crm-ui-id="inlayForm.thanksShareAskHTML"
        crm-ui-richtext
        name="thanksShareAskHTML"
        ng-model="inlay.config.thanksShareAskHTML"
        class="crm-form-text"
        ></textarea>
      <p>Note: the user will see this text, then the selected socials buttons, and also a <em>Skip</em> link.</p>
    </div>

    <div crm-ui-field="{name: 'inlayForm.thanksShareAskHTML', title: ts('Text to show if the signer chooses Skip')}">
      <textarea
        crm-ui-id="inlayForm.thanksFinalHTML"
        crm-ui-richtext
        name="thanksFinalHTML"
        ng-model="inlay.config.thanksFinalHTML"
        class="crm-form-text"
        ></textarea>
    </div>
    <!-- Socials v1.2 {{{ -->
    <h3>Social Media</h3>

    <div crm-ui-field="{name: 'inlayForm.socialStyle', title: ts('Social media button colours')}">
      <select
        crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
        ng-model="inlay.config.socialStyle"
        name="socialStyle"
        style="width: 100%"
        >
        <option value="">(no style)</option>
        <option value="col-buttons">{{ts('Coloured button background, white icon')}}</option>
        <option value="col-icon">{{ts('Coloured icon')}}</option>
      </select>
    </div>

    <ul>
      <li ng-repeat="(i, sm) in smShares"
        >
        <input
          type="checkbox"
          name="{{sm.name}}"
          id="{{'share-' + sm.name}}"
          ng-model="smShares[i].active"
          />
        <label for="{{'share-' + sm.name}}">{{ts('Share on %1', {'1': sm.label})}}</label>
        <a href ng-click="smShares.splice(i-1,0, smShares.splice(i,1)[0])"
                ng-show="i>0"
          >↑</a>
        <a href
          ng-show="i<smShares.length -1"
          ng-click="smShares.splice(i+1, 0, smShares.splice(i,1)[0])" >↓</a>
      </li>
    </ul>

    <div crm-ui-field="{name: 'inlayForm.tweet', title: ts('Default suggested tweet (can be overridden at campaign and petition level)')}"
         ng-show="smActive('twitter')"
      >
      <textarea
        crm-ui-id="inlayForm.tweet"
        name="tweet"
        ng-model="inlay.config.tweet"
        class="crm-form-text"
        placeholder="{{ts('e.g. Hey everybody, do what I did.')}}"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.whatsappText', title: ts('Suggested WhatsApp text')}"
         ng-show="smActive('whatsapp')"
       >
      <textarea
        crm-ui-id="inlayForm.whatsappText"
        name="whatsappText"
        ng-model="inlay.config.whatsappText"
        class="crm-form-text"
        placeholder="{{ts('e.g. Hey everybody, do what I did.')}}"
        ></textarea>
    </div>
    <!-- }}} -->

    <div crm-ui-field="{name: 'inlayForm.thanksMsgTplID', title: ts('Thank you email (consent)')}">
      <select
        crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
        ng-model="inlay.config.thanksMsgTplID"
        name="thanksMsgTplID"
        style="width: 100%"
        >
        <option value="">(do not send an email)</option>
        <option ng-repeat="g in messageTpls"
                value="{{g.id}}">{{g.msg_title}}</option>
      </select>
      <p>This email will be sent to people who <strong>opt-in</strong>, so it can contain "marketing" content if you need it to. This email will only be sent if there is not a specific one defined for the campaign or petition.</p>
    </div>

    <div crm-ui-field="{name: 'inlayForm.confirmMsgTplID', title: ts('Thank you email (no consent)')}">
      <select
        crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
        ng-model="inlay.config.confirmMsgTplID"
        name="confirmMsgTplID"
        style="width: 100%"
        >
        <option value="">(do not send an email)</option>
        <option ng-repeat="g in messageTpls"
                value="{{g.id}}">{{g.msg_title}}</option>
      </select>
      <p>This email will be sent to people who <strong>do not opt-in</strong>, so it cannot contain "marketing" content but can be used to confirm signing etc. This email will only be sent if there is not a specific one defined for the campaign or petition.</p>
    </div>

    <!-- Download permissions -->
    <div class="crm-section">
      <div class="label"><label>Download signers</label></div>
      <div class="content">
        <p>What should petition owners be able to download, by default? You can override this per campaign and per petition.</p>
        <div><label><input type=checkbox ng-model="downloadPermissions.name" /> Full names</label></div>
        <div><label><input type=checkbox ng-model="downloadPermissions.email" /> Full email</label></div>
      </div>
    </div>

    <!-- Mailing permissions -->
    <div class="crm-section">
      <div class="label"><label>Allow mailings?</label></div>
      <div class="content">
        <label><input type=checkbox ng-model="inlay.config.allowMailings" /> Allow Mailings</label>
        <p>Should owners be allowed to create (draft) mailings to signers? This can be overridden on a campaign and petition basis.</p>
      </div>
    </div>

    <div>
      <button ng-click="save()">{{ts('Save')}}</button>
    </div>

  </form>
</div>
